
/* Icons */

	ul.icons {
		cursor: default;

		li {
			display: inline-block;
		}

		a {
			display: inline-block;
			width: 2em;
			height: 2em;
			line-height: 2em;
			text-align: center;
			border: 0;
		}
	}